@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que a aplicação ocupe a altura total */
html,
body,
#root {
	height: 100%;
	margin: 0;
	background-color: #f3f4f6; /* Fundo cinza claro */
}
